<div class="d-flex w-100 container-login p-relative justify-content-center">

    <div class="card card-shadow br-35 pt-5 px-xs-0 px-md-5 col-xs-8 col-sm-8 col-md-6 col-lg-5 rounded">
        <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <!-- <p class="card-text">Text</p> -->

            <form (ngSubmit)="login()" [formGroup]="form">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" name="email" class="form-control" formControlName="email"
                        placeholder="Ingrese su email">

                    <div class="alert alert-danger" *ngIf="form.get('email').invalid && form.get('email').touched ">
                        <div *ngIf="form.get('email').errors?.required">
                            El email es obligatorio.
                        </div>
                        <div *ngIf="form.get('email').errors?.email">
                            Email no válido.
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" formControlName="password"
                        placeholder="">

                    <div class="alert alert-danger"
                        *ngIf="form.get('password').invalid && form.get('password').touched ">
                        <div *ngIf="form.get('password').errors?.required">
                            El password es obligatorio.
                        </div>
                        <div *ngIf="form.get('password').errors?.minlength">
                            El password debe tener al menos 6 caracteres
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-center">
                    <button type="reset" class="btn btn-secondary mr-1">Limpiar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid || loading">Ingresar

                    </button>
                </div>

                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary mt-2 " role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div *ngIf="error != null" class="alert alert-danger mt-2" role="alert">
                    {{error}}
                </div>
            </form>
        </div>
    </div>

</div>