
<app-header [user]="user" ></app-header>

<app-header [user]="user" ></app-header>

<app-header [user]="user" ></app-header>


<section class="main">
  <div class="container">
    {{hello + ' ' + user.name }} {{title}}

    <br>
    {{today | date: 'dd/MM/yyyy' }}


    <br>

    <input type="text" name="num" [(ngModel)]="user.name">


    <br>
    <button (click)="aumentar()" class="btn btn-primary"> Aumentar</button>

    <button (click)="disminuir()"> Disminuir</button>


    <label for=""> value: {{value}} </label>


  </div>
  <!-- <router-outlet></router-outlet> -->
</section>

<app-footer></app-footer>