


<div class="text-left report-container">
    <div class="my-3">
        <a class="theme-back_icon" [routerLink]="['..']">
            <i class=" fas fa-chevron-circle-left"></i>
            <span>Back</span>
        </a>
    </div>
    <div class="card shadow p-5 report-container-card_body">

        <div class="d-flex justify-content-between">
            <div>
                <h4 class="card-title report-container-card_title">Crear Artículo</h4>
            </div>
          
        </div>

        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <label for="">Codigo</label>
                <input type="text" name="codigo" class="form-control" placeholder="" [(ngModel)]="model.codigo">
            </div>
            <div class="form-group">
                <label for="">Descripcion</label>
                <input type="text" name="descripcion" class="form-control" placeholder="" [(ngModel)]="model.descripcion">
            </div>

            <div class="form-group">
                <label for="">Stock</label>
                <input type="number" name="stock" class="form-control" placeholder="" [(ngModel)]="model.stock">
            </div>

            <button class="btn btn-primary mt-1" type="submit" [disabled]="!form.form.valid">
                Guardar
            </button>

        </form>
       
    </div>
</div>
