<h2>Lista de artículos</h2>

<div>
    <input type="button" class="btn btn-primary" value="Nuevo" (click)="nuevo()">
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CODIGO</th>
            <th>DESCRIPCION</th>
            <th>STOCK</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of  model">
            <td scope="row"> {{item.id}} </td>
            <td>{{item.codigo}}</td>
            <td>{{item.descripcion}}</td>
            <td>
                {{item.stock}}
            </td>

        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-6 ">
        <button type="button" class="btn btn-primary" (click)="previous()"
            [disabled]="modelBase.previousPage == null">Anterior</button>
    </div>
    <div class="col-md-6">

        <button type="button" class="btn btn-primary" (click)="next()"
            [disabled]="modelBase.nextPage == null">Siguiente</button>

    </div>




</div>