<p>articulos-list works!</p>


{{ model | json }}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ESTADO</th>
            <th>PRECIO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of  model">
            <td scope="row"> {{item.id}} </td>
            <td>{{item.nombre}}</td>
            <td [ngClass]="{'articulo-active': item.status=='active'}" >{{item.status}}</td>
            <td>
                <span *ngIf="item.status=='active'">{{item.precio}}</span>
            </td>

        </tr>
    </tbody>
</table>